[flake8]
exclude=
    .git,
    __pycache__,
    old,
    build,
    dist,
    .venv
extend_ignore=C901
max-line-length=50
ignore = E203, E266, E501, W503, F403, F401
max-complexity = 18
select = B,C,E,F,W,T4,B9